<!DOCTYPE html>
<html lang = "ja" ng-app="app">
  <head>
   <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,700,700italic,500italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../lib/onsenui/css/onsenui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../lib/onsenui/css/onsen-css-components.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../angular/app.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">

    <script src="../lib/onsenui/js/onsenui.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/onsenui/js/angular-onsenui.js"></script>
    <script src="../angular/app.js"></script> 
    <script src="../jquery-2.1.4.min.js"></script>
    <script>
    </script>
    <script>
      if(localStorage.getItem("switch-site_url")){
        if(!localStorage.getItem("switch-auth_token")){
          $.ajax({
            url: "" + localStorage.getItem("switch-site_url") + "/api/v1/auth/token.json",
            type:"GET",
            success: function(msg){
              localStorage.setItem("switch-auth_token",msg["response"]["auth_token"]);
            },
            error: function(){
              localStorage.setItem("switch-site_url","")
              location.href = "../api/index.html"

            }
          });
        }
      }else{
        location.href = "../login/index.html";

      }
    </script>
  </head>
  <body>
    <ons-navigator var="mynavigator">
      <ons-page modifier="material" ng-controller="SwitchController as switch">

      <div class="content">
        <div class="frame-upon">
        </div>
          <div class="frame z1">
            <h1>ユーザー登録</h1>
            <div class="frame">
            <div id="error_messages"></div>
            <label style="">username </label>
            <input id="screen_name" placeholder="gamerinshaft" size="23" style=""><br>
            <label style="">email address</label>
            <input id="email" placeholder="gamerinshaft@example.com" size="23" style=""><br>
            <label style="">email confirm</label>
            <input id="email_confirm" placeholder="gamerinshaft@example.com" size="23"><br>
            <label style="">password</label>
            <input id="password" type="password" placeholder="password" size="23"><br>
          </div>

            <div class="bottom-msg">
              <div class="login-msg" ng-click="switch.pushToLoginpage();">
                  <p>Login</p>
              </div>

              <ons-button modifier="material" class="submit-button" ng-click="switch.signup();">
                送信
              </ons-button>

               <div class="clear"></div>
            </div>



            <div class="blank"></div>

           </div>
        </div>
     </ons-page>
      </ons-navigator>

    <script>
      $(function(){
        console.log("wai")
        password = $("#password").val();
        console.log(password)
        $("#submit").on("click",function(){
          console.log("wa")
          email = $("#email").val()
          confirm = $("#email_confirm").val();
          if(email == confirm){
            $.ajax({
              url: "" + localStorage.getItem("switch-site_url") + "/api/v1/auth/signup.json",
              type: "POST",
              data: {
                "screen_name": $("#screen_name").val(),
                "email": email,
                "password": $("#password").val(),
                "auth_token": localStorage.getItem("switch-auth_token")
              },
              success: function(msg){
                console.log("wo")
                location.href = "../index.html"
              },
              error: function(error){
                if(error.status == 404){
                  localStorage.setItem("switch-site_url","")
                  location.href = "../api/index.html"
                }else{
                  text = "<ul>";
                  messages = error.responseJSON.meta.errors.forEach(function(err){
                    text += "<li class='error'>" + err.message + "</li>";
                  });
                  text += "</ul>"
                  $("#error_messages").html(text);
                }
              }
            });
          }else{
            alert("emailが違います！")
          }
        })
      })
    </script>
  </body>
</html>