.content{
	width:100%;
	height:100%;
	text-align: center;

}
.frame-upon{
/*margin-top:110px;*/
	height:80px;
}
.frame{
	padding-top:10px;
	padding-bottom:20px;
	background-color:white;

	box-shadow: 0.1px 0.1px 1px 0.001px;


	width: 94%;
	margin: 0 auto;
}
.forms{
	/*text-align: right;*/
	margin-right: 30px;
	/*margin-bottom:80px;*/
	margin-bottom:100px;
	padding-top:20px;
}
.forms input{
	font-size: 12px;
	margin-top:15px;
	margin-bottom:15px;

}
.forms label{
	font-size: 13px;
}

#screen_name{
	margin-right:-70px;
	/*margin-left: 70px;*/
}
#email{
	margin-right:-45px;
}
#password{
	margin-right:-70px;
}
.login-msg{
	width:150px;
	text-align:left;
	margin-left: 20px;
	float:left;
}
.login-msg p{

}
.submit-button{

	/*margin-left: 140px;*/
	margin-right:-70px;
}
.bottom-msg{
	width:100%;
}