<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,700,700italic,500italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css" type="text/css" media="all" />
    <link rel="stylesheet" href="angular/app.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="lib/onsenui/js/onsenui.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.js"></script>
    <script src="angular/app.js"></script>
    <script src="jquery-2.1.4.min.js"></script>
    <title>rename</title>
  </head>
  <body>
    <!-- menu bar -->

      <ons-page modifier="material" ng-controller="SwitchController as switch">
        <ons-navigator var="mynavigator">
          <ons-toolbar class="i-toolbar" modifier="material">
            <div class="left">
              <ons-toolbar-button ng-click="menu.open()" modifier="material">
                <ons-icon icon="md-menu"></ons-icon>
              </ons-toolbar-button>
            </div>
            <div class="center" id="submit">
              Rename
            </div>
            <div class="right">
            </div>
            <div class="clear"></div>
          </ons-toolbar>

          <div class="main-content">
          <br>
          <br>

          <div style="text-align: center">
          



          <ons-list　modifier="material" ng-init="switch.getInfradInfo();">
            <ons-list-item id="{{item.id}}""{{name}}" modifier="tappable" ng-repeat="item in infrad" style="background-color:white">
            <!-- {{item.name}} -->
            <ons-material-input id="newName" ng-show="switch.selectedItem == $index" type="text" ng-model="text" ng-blur="switch.selectedItem = -1"></ons-material-input>
            <span id="new_name" class="title" ng-hide="switch.selectedItem == $index" ng-click="switch.selectedItem = $index; switch.focusInput($event)" >{{item.name}}
            </span>

            <ons-icon icon="ion-ios-compose-outline" size="30px" ng-click="switch.renameInfrad(item.id,newName);"></ons-icon>
            <ons-icon icon="ion-social-rss" size="30px" ng-click="switch.send(item.id);"style="margin-left:20px"></ons-icon>
          </ons-list-item>
        </ons-list>
        </ons-navigator>
      </ons-page>
    </ons-template>
    <!-- homeページ -->