<!DOCTYPE html>
<html lang = "ja">
  <head>
   <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,700,700italic,500italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css" type="text/css" media="all" />
    <link rel="stylesheet" href="angular/app.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="newir/style.css" type="text/css">

    <script src="lib/onsenui/js/onsenui.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.js"></script>
    <script src="angular/app.js"></script> 
    <script src="jquery-2.1.4.min.js"></script>
    <script>
      console.log("kiterukiterukiteru")
    </script>
    <title>new ir</title>
  </head>
  <body>
    <div class="main-content">
      <div class="msg">
        <p><strong>受信状態です照射してください</strong></p>
      </div>
      <div class="img-back" style="height:500px">
        <div style="height:100px">
        </div>
        <div class="image">
          <img src="lording.gif">
        </div>
        <p>受信状態です。赤外線を照射してください</p>
      </div>
      <div class="button-back">
        <div class="buttons">
          <div class="quit-button">
            <ons-button modifier="material" ng-click=""style="padding-right:23px;padding-left:23px;margin:0">
              quit
            </ons-button>
          </div>
          <div class="again-button">
            <ons-button modifier="material"ng-click="" style="margin 0;">
              done
            </ons-button>
          </div>
        </div>
          <div class="clear"></div>
          </div>
    </div>
    <script>
      console.log("直接書き込めるやん ")
    </script>
  </body>
</html>