<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<title>新規グループ追加</title>
   <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,700,700italic,500italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css" type="text/css" media="all" />
    <link rel="stylesheet" href="angular/app.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="groupAdd/style.css" type="text/css">

    <script src="../lib/onsenui/js/onsenui.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/onsenui/js/angular-onsenui.js"></script>
    <script src="../angular/app.js"></script>
    <script src="../jquery-2.1.4.min.js"></script>
</head>
<body>

		<ons-page modifier="material" ng-controller="SwitchController as switch" style="background-color:#C8E6C9;">
    <ons-navigator>
			<ons-toolbar modifier="material">
			    <div class="left">
            		<ons-toolbar-button ng-click="menu.open()" modifier="material">
            			<ons-icon icon="md-menu"></ons-icon>
          			</ons-toolbar-button>
        	</div>
		       <div class="center">
		          New
		      </div>
		      <div class="right">
		      </div>
			</ons-toolbar>

      <div class="main-content">
        <div class="add_new_ir">
          <div class="subject">
            <p>new IR</p>
          </div>
          <div class="inner">
            <p>登録する赤外線機器を準備してtryボタンを押してください</p>
          </div>
          <div class="try_button">
            <ons-button modifier="material" style="padding-right:150px;padding-left:150px; margin:0 auto;"ng-click="switch.pushToNewIR();">
            try
            </ons-button>
          </div>
        </div>
        <div class="add_new_group">
          <div class="subject">
            <p>new Group</p>
          </div>
          <div class="inner group">
            <p>名前を入力してください</p>
          </div>
          <div class="form-back">

            <div class="form">
              <p>
              <input id="groupName" type="text" size="40">
              </p>
              <ons-button modifier="material" ng-click="switch.makeGroup(groupName,item.id);" class="addbutton" id="add">
              Add
              </ons-button>
              <div class="clear"></div>
            </div>
          </div>
          <div class="list-back">
            <ons-list modifier="material" ng-init="switch.getInfradInfo();">
              <ons-list-header modifier="material" class="check_head">
                check the IR's name
              </ons-list-header>
              <!-- <ons-list-item modifier="material" class="list" ng-repeat="item in ~~~~~.Item"> -->
              <!-- <ons-list-item modifier="material" class="list"> -->
              <ons-list-item modifier="tappable" ng-repeat="item in infrad" style="background-color:white; padding-top:15px" ng-click="" >
                <label class="checkbox checkbox--material" id="{{item.id}}">
                  <input type="checkbox" class="checkbox__input checkbox--material__input" ng-click="get.id">
                  <div class="checkbox__checkmark checkbox--material__checkmark"></div>
                  {{item.name}}
                </label>
              </ons-list-item>
            </ons-list>
          </div>
        </div>
      </div>
      </ons-navigator>
		</ons-page>
  </ons-template>

</body>
</html>