.i-list{
	margin: 0 auto;
	width: 100%;
	padding-top:40px;
}

.i-list-inner{
	margin:0 auto;
	background-color: white;
	padding: 20px 0;
	box-shadow: 1px 1px 1px 1px;
	width: 80%;
	margin-bottom: 20px;
}
body{
	margin:0;
	padding:0;
	height:100%;
	background-color:rgba(0,249,47,0.08);
}

p{
	margin:0;
	padding:0;
}

.title{
	color:black;
	opacity:0.8;
}
.main-content{
	/*background-color:rgba(0,249,47,0.08);*/
	margin: 0 auto;
	text-align:center;
	width: 100%;
	height:470px;
	/*padding-bottom:10px;*/
	padding-top:100px;
}
.clearbutton{

}

.i-list-left{

}
.account{
	height:100px;
	background-color:black;
	width:100%;
	position: fixed;
}
.account .plus-button{
	position: absolute;
	right: 10px;
	top: 74px;
}