/*www/index.htmlのスタイルと共通のスタイルを書いていきます*/

.i-list{
	margin: 0 auto;
	width: 100%;
	/*padding-top:184px;*/
	/*padding-top: 224px;*/
	padding-top: 184px;
	padding-bottom: 40px;
	background-color:#C8E6C9;
}

.i-list-inner{
	margin:0 auto;
	background-color: white;
	padding: 20px 0;
	box-shadow: 1px 1px 1px 1px;
	width: 80%;
	margin-bottom: 10px;
}
body{
	margin:0;
	padding:0;
	height:100%;
	/*background-color:rgba(0,249,47,0.08);*/
	background-color:#C8E6C9;
	/*background-color:white;*/
	/*background-color:rgba(0,249,47,0.08);*/
}

p{
	margin:0;
	padding:0;
}

.title{
	color:black;
	opacity:0.8;
}
.main-content{
	background-color:#C8E6C9;
	margin: 0 auto;
	text-align:center;
	width: 100%;
	height:100%;

	/*height:100%;*/
	/*padding-bottom:100px;*/
	/*padding-top:100px;*/
}
.clearbutton{

}

.i-list-left{

}
.account{
	height:128px;
	background-color:black;
	width:100%;
	position: absolute;
	top: 55px;
	left: 0px;
	box-shadow: 1px 1px 1px 1px;
}
/*.username{
	color:white;
	opacity:0.8;
	font-size:14px;
	position:absolute;
	top:85px;
	left: 80px;
}*/
.plus-button{
	position: absolute;
	right: 10px;
	top: 148px;
}
.i-toolbar{
	padding-top: 10px;

}
.clear{
	clear:both;
}
.user_content{
	padding-top:30px;
	color:white;
	margin:0 auto;
	width:100%;
}
.user_name{
	float: left;
	width: 180px;
	margin-left: 50px;
}
.user_icon{
	float:left;
	width:50px;
	margin-left: 30px;
}
.room_content{
	padding-top:30px;
	color: white;
	margin: 0 auto;
	width: 100%;
}
.room_ondo{
	float:left;
	width: 50px;
	margin-left: 40px;
}
.room_icon{
	float:left;
	width: 50px;
	margin-left:30px;
}
.room_bright{
	float:left;
	width: 50px;
	margin-left:30px;
}

